.contacto {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
  }

  
  
  .redSocial {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    flex-direction: column;
  }
  
  .redSocial a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #ababab;
    font-size: 40px;
  }


  
  .redSocial p {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    color: #ababab;
    font-size: 20px;
  }
  
  .redSocial i{
    display: flex;
  }
