.headercontain{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.containernav{
    padding: 10px 10%;
    
}

.containernav .image-container {
    float: left;
}

.containernav img{
    height: 40px;
    width: 60px;
    margin-left: 10px;
}

.containernav nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}