.about{
    padding: 80px;
    color: #ababba;
}

.fila{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutCol1{
    flex-basis: 35%;
}

.aboutCol1 img{
    width: 100%;
    border-radius: 15px;
}

.aboutCol2{
    flex-basis: 60%;
}

.subTitulo{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabTitulo{
    display: flex;
    margin: 20px 0 40px;
}

.tabLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #692C70;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

.tabLinks.activeLink::after{
    width: 50%;
}

.tabContenido ul li{
    list-style: none;
    margin: 10px 0;
}

.tabContenido ul li span{
    color: #6D4571;
    font-size: 14px;
}

.tabContenido{
    display: none;
}


.tabContenido.activeTab{
    display: block;
}

@media only screen and (max-width: 600px){

    .subTitulo{
        font-size: 40px;
    }

    .aboutCol1 , .aboutCol2 {
        flex-basis: 100%;
    }
    
    .aboutCol1{
        margin-bottom: 30px;
    }

    .aboutCol2{
        font-size: 14px;
    }

    .tabLinks{
        font-size:16px;
        margin-right: 20px;
    }
}



